.containerAddItem {
	display: flex;
	flex-direction: column;
}

.addItemGif {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	box-shadow: 0 0 2px 1px rgba(66, 69, 70, 0.5);
	width: 500px;
}

#addFirstItem {
	margin-top: 10px;
	width: fit-content;
}
