.SingleList {
	align-items: baseline;
	display: flex;
	flex-direction: row;
	font-size: 1.2em;
}

.SingleList-label {
	margin-left: 0.2em;
}

.List__delete-button {
	margin-inline-start: 0.5em;
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid;
}
