.loading-block {
	padding: 15vh 0 4rem;
	display: flex;
	justify-content: center;
}

/**
 * Spinner Loading Animation
 * Author: Temani Afif
 * Source: https://css-tricks.com/single-element-loaders-the-spinner/
 * Notes:
 *
 * 1. Spinner size.
 * 2. Border thickness.
 * 3. Spinner color.
 */

.spinner {
	width: 5rem; /* 1 */
	padding: 0.5rem; /* 2 */
	background: #6966a8; /* 3 */

	aspect-ratio: 1;
	border-radius: 50%;
	--_m: conic-gradient(#0000, #000), linear-gradient(#000 0 0) content-box;
	-webkit-mask: var(--_m);
	mask: var(--_m);
	-webkit-mask-composite: source-out;
	mask-composite: subtract;
	box-sizing: border-box;
	animation: spinner__load 1s linear infinite;
}

@keyframes spinner__load {
	to {
		transform: rotate(1turn);
	}
}
